<html>
<head>
    <title>Oscars Wilde hair</title>
</head>
<body>
    <h1>Our cuts make you the envy of Dorian Gray</h1>

    <p><a href="/Stylists">Click here</a> to see all of the Stylist and to choose a stylist.</p>
    <p><a href="/Clients">Click here</a> to see all of the clients and to add a client to our appointment book.</p>

</body>
</html>
